{% extends "base.html" %}

{% block title %}Домашняя страница СОУП{% endblock %}

{% block content %}
  <h1>Панель управления СОУП!</h1>
  <p>Добро пожаловать в систему</p>
  <a href="{{ url_for('new_post') }}">  <button>Зарегестрироваться</button></a>
  <a href="{{ url_for('new_sendMail') }}">  <button>Отправить уведомление на почту</button></a>
  <a href="{{ url_for('list_users') }}">  <button>Открыть базу данных</button></a>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <div class="version-block">
    <h3>Контрольная стадия достигнута</h3>
    <p>Сайт умеет:</p>
    <ul>
        <li>Добавлять почту пользователей в БанкДанных.</li>
        <li>Просматривать БД.</li>
        <li>Отправлять Сообщения на почту (ИСПРАВЛЕНА С НЕККОРРЕКТНОЙ РАБОТОЙ НА КИРИЛИЦЕ, и корректной отображением подписи).</li>
    </ul>
  </div>
{% endblock %}